.serie-card {
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
}

.serie-details {
  margin-bottom: 10px;
}

.serie-details h3 {
  cursor: pointer;
  color: blue;
}

.serie-details p {
  margin: 0;
}
